@import url("https://use.typekit.net/csz5ekm.css");
@import url("https://use.typekit.net/csz5ekm.css");
body{
  padding: 0;
  margin: 0;
  background-image: url(img/backgroundwebsite3.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color:black
 }
 

style{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('path/to/your/high-resolution-horror-background.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}

nav{
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

li {
  margin: 0 1rem;
}

a:hover {
  color: red; 
}

header {
  text-align: center;
}

img{
  width: 10em; 
  margin: 1em;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 350ms ease;
}

a:hover {
  color: #ff6347; 
}

main {/* Source: https://www.w3schools.com/cssref/pr_grid-template-columns.php */
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 2em; 
  padding: 3.5em;
}

#episode-page section {
  margin: 4em; 
  padding: 1.5em;
  background-color: rgba(143, 139, 139, 0.75);
  border-radius: .5em; /* Rounded corners */
}

.episode-page h2, .about-us-page h2 {
  color: #200000dd; 
  font-size: 2rem;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.5);
  padding: .5em
}

.una, .lucius {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.una img {
  height: auto;
}

h1{
  color: #292929; 
  font-size: 2rem;
  align-items: center;
}

img {
  width: 10em; 
  margin: 1em; 
  border-radius: .5em; 
}

button {
  margin: 1em;
  padding: 1em;
  font-size: 1rem;
  border-radius: .5em;
  width: 10rem;
  transition: background-color 350ms ease;
}

button:hover {
  color: grey;
}

#about-us-page h1{
  font-family: Arial, sans-serif;
  color: #200000dd;
  font-size: 1.5rem;
  text-align: center; 
  font-family: "cc-incy-wincy-spider-web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#about-us-page section{
  display:flex;
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 100%);
  line-height: 1.6;
  margin: 2em; 
  padding: 1em;
  background: linear-gradient(rgba(86,86,86,0.9), rgb(65, 65, 65,0.1));
  border-radius: .5em; /* Rounded corners */
}

.about-us-page main section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1.5em;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  align-items: center;
}

.about-us-page main section p {
  background-color: rgba(245, 245, 245, 0.5);
  padding: 2em;
}

.about-us-page main section:nth-child(2) article {
  display: flex;
  align-items: center;
}

.episode-page main section {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.episode-page main section article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.episode-page main section img {
  width: 16em;
  height: auto;
}

.episode-page main section p {
  background-color: rgba(245, 245, 245, 0.5);
  padding: 1.5em;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

.content-section h2 {
  background-color: rgba(245, 245, 245, 0.5);
  padding: .5em;
}

.image-text p {
  max-width: 50em;
}

.flicker_body main section img {
  width: 5em;
  height: 5em;
  animation: zoomInOut 7s infinite;
}

@keyframes zoomInOut {
  0%, 100% {
      transform: scale(3);
  }
  70% {
      transform: scale(9);
  }
}

.content {
  text-align: center;
  margin-top: 1.5em;
}

.flicker_body main {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh; 
}

.flicker_body main section {
  text-align: center;
}

.flicker_body main section img {
  max-width: 90%; 
  height: auto;
}

.flicker_body main section p {
  margin-top: 1.5em; 
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      opacity: 1;
  }
  20%, 24%, 55% {
      opacity: 0;
  }
}

.flicker { 
  animation: flicker 1.2s infinite;
  width: 100%;
  height: 20vh;
}
/*https://www.geeksforgeeks.org/how-to-create-blinking-text-using-css/  */

@keyframes flicker_body {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      opacity: 1;
  }
  20%, 24%, 55% {
      opacity: 0;
  }
}

.flicker_body {
  animation: flicker 1.5s infinite;
  width: 100%;
}

audio {
  display: none;
}

/*https://dev.to/devlawrence/creating-an-image-expand-gallery-67i*/
.flicker_body main a {
  display: inline-block;
  overflow: hidden;
}

.flicker_body main a img {
  width: 50%;
  transition: transform 0.3s ease;
}

.image-container:hover .flicker_body main a img {
  transform: scale(1.3); 
}